---
import BaseLayout from '../../layouts/BaseLayout.astro'

let title = 'Blog'
let description = 'All blog posts.'

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = Astro.fetchContent('./*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

  rss({
    title: "Sarah Rainsberger | Blog",
    description: "Sarah Rainsberger Blog",
    customData: `<language>en-us</language>`,
    items: sortedPosts.map(item => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.date,
    })),
    dest: "/rss.xml",
  })

    return paginate(sortedPosts, {
      pageSize: 5,
    })
}

const { page } = Astro.props

let allPosts = Astro.fetchContent('./*.md');
allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

---
<BaseLayout title="All Posts">
  <main>
    <h2> Post Archive</h2>
    <div>
      {allPosts.map((post) => (
        <article>
          <a href={post.url}><h3>{post.title}</h3></a>
          <p>{post.description}</p>
          <p>{post.excerpt}</p>
          <p>{new Date(post.date).toISOString().slice(0, 12)}</p>
          <a style="font-size: 0.8em;" href={post.url}>Read more</a>
          <hr>
        </article>
      ))}
    </div>
  </main>
</BaseLayout>
